mouse-platform/n8n-workflows/inventory_reorder.json
{
  "name": "Inventory Reorder Workflow",
  "nodes": [
    {
      "id": "schedule-trigger",
      "name": "Hourly Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 300],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 1
            }
          ]
        }
      }
    },
    {
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 500],
      "parameters": {
        "path": "inventory-reorder",
        "httpMethod": "POST",
        "responseMode": "onReceived",
        "responseData": "allEntries"
      },
      "webhookId": "inventory-reorder-webhook"
    },
    {
      "id": "query-inventory",
      "name": "Query Inventory Levels",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [500, 400],
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/inventory?select=id,product_name,current_stock,reorder_threshold",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_ANON_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_ANON_KEY }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      }
    },
    {
      "id": "check-threshold",
      "name": "Below Reorder Threshold?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [750, 400],
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.current_stock }}",
              "operation": "smallerEqual",
              "value2": "={{ $json.reorder_threshold }}"
            }
          ]
        }
      }
    },
    {
      "id": "send-reorder-notification",
      "name": "Send Reorder Notification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1000, 300],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.NOTIFICATION_WEBHOOK_URL }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "type",
              "value": "inventory_reorder"
            },
            {
              "name": "product_name",
              "value": "={{ $json.product_name }}"
            },
            {
              "name": "current_stock",
              "value": "={{ $json.current_stock }}"
            },
            {
              "name": "reorder_threshold",
              "value": "={{ $json.reorder_threshold }}"
            },
            {
              "name": "message",
              "value": "=Product {{ $json.product_name }} is below reorder threshold. Current stock: {{ $json.current_stock }}, Threshold: {{ $json.reorder_threshold }}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "no-reorder-needed",
      "name": "No Reorder Needed",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1000, 500],
      "parameters": {}
    },
    {
      "id": "log-task",
      "name": "Log Reorder Task",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1250, 300],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/activity_log",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_ANON_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_ANON_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "action",
              "value": "inventory_reorder_triggered"
            },
            {
              "name": "details",
              "value": "=Reorder notification sent for {{ $json.product_name }}. Current stock: {{ $json.current_stock }}"
            },
            {
              "name": "timestamp",
              "value": "={{ $now.toISO() }}"
            }
          ]
        },
        "options": {}
      }
    }
  ],
  "connections": {
    "Hourly Schedule": {
      "main": [
        [
          {
            "node": "Query Inventory Levels",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Query Inventory Levels",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Inventory Levels": {
      "main": [
        [
          {
            "node": "Below Reorder Threshold?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Below Reorder Threshold?": {
      "main": [
        [
          {
            "node": "Send Reorder Notification",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Reorder Needed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Reorder Notification": {
      "main": [
        [
          {
            "node": "Log Reorder Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "tags": [
    {
      "name": "inventory"
    },
    {
      "name": "automation"
    }
  ]
}
