mouse-platform/n8n-workflows/supplier_order.json
{
  "name": "Supplier Order Workflow",
  "nodes": [
    {
      "id": "webhook-trigger",
      "name": "Order Request from KingMouse",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 400],
      "parameters": {
        "path": "supplier-order",
        "httpMethod": "POST",
        "responseMode": "onReceived",
        "responseData": "allEntries"
      },
      "webhookId": "supplier-order-webhook"
    },
    {
      "id": "format-order-email",
      "name": "Format Order Email",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [500, 400],
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "subject",
              "name": "email_subject",
              "value": "=New Order #{{ $json.body.order_id }} from {{ $json.body.business_name }}",
              "type": "string"
            },
            {
              "id": "to",
              "name": "supplier_email",
              "value": "={{ $json.body.supplier_email }}",
              "type": "string"
            },
            {
              "id": "body",
              "name": "email_body",
              "value": "=Dear {{ $json.body.supplier_name }},\n\nWe would like to place the following order:\n\nOrder ID: {{ $json.body.order_id }}\nBusiness: {{ $json.body.business_name }}\n\nItems:\n{{ $json.body.items.map(item => '- ' + item.name + ' x' + item.quantity + ' @ $' + item.unit_price).join('\\n') }}\n\nTotal: ${{ $json.body.total_amount }}\n\nRequested Delivery Date: {{ $json.body.requested_delivery_date }}\nDelivery Address: {{ $json.body.delivery_address }}\n\nPlease confirm this order at your earliest convenience.\n\nBest regards,\n{{ $json.body.business_name }}",
              "type": "string"
            },
            {
              "id": "order_id",
              "name": "order_id",
              "value": "={{ $json.body.order_id }}",
              "type": "string"
            },
            {
              "id": "supplier_name",
              "name": "supplier_name",
              "value": "={{ $json.body.supplier_name }}",
              "type": "string"
            },
            {
              "id": "delivery_date",
              "name": "expected_delivery_date",
              "value": "={{ $json.body.requested_delivery_date }}",
              "type": "string"
            },
            {
              "id": "total",
              "name": "total_amount",
              "value": "={{ $json.body.total_amount }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "send-to-supplier",
      "name": "Send Order to Supplier",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [750, 400],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.EMAIL_SERVICE_URL }}/send",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "to",
              "value": "={{ $json.supplier_email }}"
            },
            {
              "name": "subject",
              "value": "={{ $json.email_subject }}"
            },
            {
              "name": "body",
              "value": "={{ $json.email_body }}"
            },
            {
              "name": "from",
              "value": "={{ $env.BUSINESS_EMAIL }}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "log-order",
      "name": "Log Order + Expected Delivery",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1000, 400],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/supplier_orders",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_ANON_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_ANON_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "order_id",
              "value": "={{ $json.order_id }}"
            },
            {
              "name": "supplier_name",
              "value": "={{ $json.supplier_name }}"
            },
            {
              "name": "total_amount",
              "value": "={{ $json.total_amount }}"
            },
            {
              "name": "expected_delivery_date",
              "value": "={{ $json.expected_delivery_date }}"
            },
            {
              "name": "status",
              "value": "sent"
            },
            {
              "name": "email_sent_at",
              "value": "={{ $now.toISO() }}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "schedule-followup",
      "name": "Schedule Follow-up Check",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1250, 400],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/scheduled_tasks",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_ANON_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_ANON_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "task_type",
              "value": "supplier_followup"
            },
            {
              "name": "reference_id",
              "value": "={{ $json.order_id }}"
            },
            {
              "name": "scheduled_for",
              "value": "={{ DateTime.fromISO($json.expected_delivery_date).minus({ days: 1 }).toISO() }}"
            },
            {
              "name": "details",
              "value": "=Follow up on order {{ $json.order_id }} from {{ $json.supplier_name }}. Expected delivery: {{ $json.expected_delivery_date }}"
            },
            {
              "name": "status",
              "value": "pending"
            },
            {
              "name": "created_at",
              "value": "={{ $now.toISO() }}"
            }
          ]
        },
        "options": {}
      }
    }
  ],
  "connections": {
    "Order Request from KingMouse": {
      "main": [
        [
          {
            "node": "Format Order Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Order Email": {
      "main": [
        [
          {
            "node": "Send Order to Supplier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Order to Supplier": {
      "main": [
        [
          {
            "node": "Log Order + Expected Delivery",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Order + Expected Delivery": {
      "main": [
        [
          {
            "node": "Schedule Follow-up Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "tags": [
    {
      "name": "supplier"
    },
    {
      "name": "ordering"
    }
  ]
}
